language: scala

scala:
  - "2.9.0"
  - "2.9.0-1"
  - "2.9.1"
  - "2.9.1-1"
  - "2.9.2"
  - "2.9.3"

jdk:
  - oraclejdk7
  - openjdk7
  - openjdk6

sudo: false

notifications:
  email:
    recipients:
      - marko@mentat-labs.com

script: sbt ++$TRAVIS_SCALA_VERSION compile
